<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img height="64px" alt="Angular Logo" src="../assets/logo.png"/>
  <h1>
    {{ title }}
  </h1>

  <p class="info no-print">
    Bitte lies diesen Vertrag durch, fülle die Felder im unteren Teil aus und klicke wenn du fertig bist auf "Drucken".
    Du kannst meistens einen PDF Drucker auswählen bzw.
    anstatt zu Drucken das Dokument als PDF speichern. <br>
    Schicke das PDF anschließend an <a [href]="'mailto:' + email">diese E-Mail Adresse</a>, du erhältst eine digital
    signierte
    Version des Vertrags als Bestätigung an die im Vertrag angegebene E-Mail Adresse!
  </p>

</div>
<p class="no-seperation"><span>Reisishot (Florian Reisinger) (im Nachfolgenden Fotograf genannt) und die unten aufgelisteten Models (im Nachfolgenden Model genannt) vereinbaren zu folgenden Bedingungen ein Fotoshooting:</span>
</p>
<span class="no-seperation">
<h2>Verwendung der Bilder</h2><p>
  Das Urheberrecht ist laut österreichischem Recht nichtübertragbar. Bei einer Veröffentlichung hat daher eine
  Nennung des Fotografen zu folgen. Entweder ist das Profil des Fotografen im selben Online Medium zu verlinken oder es
  muss folgender Text im oder neben dem Bild stehen “©️ Reisishot <a href="https://reisishot.pictures">https://reisishot.pictures</a>”.
  Eine Nennung des Models kann optional mit vollem Namen erfolgen.
</p></span><p>Die Aufnahmen können ohne weitere Einschränkung von beiden Parteien in gleichem Ausmaß
  veröffentlicht werden. Eine Bearbeitung der Bilder ist dem Model nicht gestattet.Diese Rechte können -- wenn nicht
  gesetzlich explizit
  vorgesehen (z.B. Vererbung) -- nicht an Dritte übertragen werden. Eine Veröffentlichung durch einen unbeteiligten
  Dritten ist also untersagt. Dem Model ist bewusst, dass Bilder, die online veröffentlicht wurden nicht mehr
  vollständig gelöscht werden können (“Das Internet vergisst nie”). Veröffentlichungen der Bilder von Seiten des
  Fotografens finden nur auf Plattformen statt die die Würde des Models nicht verletzen.
</p>

<span class="no-seperation"><h2>Honorar</h2><p>Das Honorar - mit Ausnahme eines Widerrufes durch das Model - sind ausschließlich die
  entstandenen Fotos und die in diesem Vertrag geregelten Rechte. Sofern die Kamera oder Speicherkarte nicht kaputt
  geht, erhält das Model innerhalb von 14 Tagen über den mit dem Model üblichen Kommunikationskanal eine Nachricht, die
  den Link zu den Fotos enthält. Schlechte Bilder oder Duplikate werden ausnahmslosentfernt. Das Model hat das optionale
  Recht direkt im Anschluss an das Shooting 10 Bilder auszuwählen, die sofern das Bild aus qualitätsgründen geeignet ist
  dem Model jedenfalls zur Verfügung gestellt werden. Zusätzlich bekommt das Model auch alle Bilder, die der Fotograf
  behält. Die einzelnen Bilder sind in einem gebräuchlichen Format (z.B. JPEG) zu übergeben und können zusätzlich in
  einem gebräuchlichen Dateiformat gruppiert werden (z.B. ZIP). Der Link, der dem Model übergeben wird, hat eine
  Gültigkeit von mindestens 7 Tagen. Falls Kosten für den Ort der Aufnahme anfallen, so sind diese Kosten ausnahmslos
  vom Model zu tragen.
</p></span>

<span class="no-seperation"><h2>Arbeitsverhältnis</h2><p>Dem Modell ist bekannt, dass kein Arbeitsverhältnis begründet wird. Es wird keine
  Haftung für Verletzungen des Models oder Beschädigungen des persönlichen Eigentums des Models (z.B. verschmutzte
  Kleidung) übernommen.
</p>
</span>
<span class="no-seperation"><h2>Salvatorische Klausel</h2><p>Sollte ein Teil dieses Vertrages ungültig sein oder werden, so soll an die
  Stelle
  der nichtigen oder unwirksamen Bestimmung eine angemessene Ersatzregelung treten, von der angenommen werden kann, dass
  die Parteien sie vereinbart hätten, wenn sie die Nichtigkeit gekannt hätten. Die übrigen Bestimmungen sind nicht von
  der Nichtigkeit oder Unwirksamkeit berührt.
</p></span>

<span class="no-seperation"> <h2>Widerruf</h2><p>Das Modell (bzw. deren Erziehungsberechtigten) hat die Möglichkeit die Rechte zur
  Veröffentlichung einzelner Fotos oder eines ganzen Shootings zu widerrufen. Hier sind explizit die Fotos bzw.
  Bildserien zu nennen für die der Widerruf gilt. Durch den Widerruf wird ein Ersatzhonorar von 200€ pro Bild fällig.
  Dies ersetzt den Aufwand, die durch das Erstellen der Fotografien, das Löschen der Fotografien sowie erlittene
  Einbußen durch entgangene Werbemöglichkeiten. Wenn ein Widerruf von Seiten des Models erfolgt, wird eine weitere
  Zusammenarbeit mit dem Model ausgeschlossen.
</p></span>

<span class="no-seperation"><h2>Sonstiges</h2><p>Das Model versichert zum Zeitpunkt der Aufnahme und zum Zeitpunkt der Unterzeichnung dieser
  Vereinbarung geschäftsfähig zu sein bzw. wird durch seine Erziehungsberechtigten vertreten. Dieser Vertrag wurde
  gelesen und verstanden und durch eine Unterschrift bestätigt. Weitere Vereinbarungen wurden nicht getroffen. Zusätze
  bedürfen der Schriftform. Es dürfen zum Shooting gerne Vertrauenspersonen mitgenommen werden. Diese dürfen aber den
  Prozess des Shootings nicht stören. Beide Vertragsparteien verzichten ausdrücklich auf zusätzliche Rechtsmittel. Als
  Gerichtsstand gilt jedoch trotzdem Linz, Österreich als vereinbart.
</p></span>
<h2>Daten</h2>
<span>
<label for="zeitpunkt">Zeitpunkt des Shootings: </label><input id="zeitpunkt"
                                                               (change)="updateShootingDate($event)"
                                                               type="date"/>
  <input id="zeitpunktZeit" type="time"/>
</span>
<br>
<span>
  <label for="anmerkungenModel">Anmerkungen des Models:</label>
  <br>
  <textarea rows="8" cols="80" id="anmerkungenModel"></textarea>
</span>
<h2>Models, die diese Bedingungen akzeptieren</h2>
<form name="main">
  <div class="no-print buttonRow">
    <button (click)="addCustomer()">Weiteres Model hinzufügen</button>
    <button class="secondary" (click)="removeCustomer()">Letztes Model löschen</button>
  </div>

  <div *ngFor="let e of customers; let  cnt = index" class="model-card">
    <h3>{{cnt + 1}}. Model</h3>
    <app-customer></app-customer>
  </div>
</form>
<div class="buttons no-print">

  <button class="xl" type="submit" (click)="generatePdf()">
    Drucken
  </button>
</div>


