<app-header></app-header>
<div class="text-center">
  <button class="no-print" (click)="resetCache()">Eingaben zurücksetzen</button>
</div>
<div class="content">
  <div [innerHTML]="contract | safeHtml"></div>
</div>
<p class="no-screen">
  <code>Vertragsvorlage: {{contractType | uppercase}}</code>
</p>
<h2>Daten</h2>
<div>
  <label for="zeitpunkt">Gültigkeit des Vertrages: ab </label>
  <input id="zeitpunkt" aria-label="Zeitpunkt des Shootings (Tag)" (change)="updateShootingDate($event)" type="date"/>
</div>
<br>
<br>
<div>
  <label for="anmerkungenModel">Anmerkungen zum Vertrag:</label>
  <br>
  <textarea [ngModel]="usernotes" (ngModelChange)="updateUsernote($event)" rows="8" cols="80"
            id="anmerkungenModel"></textarea>
</div>
<h2>Personen, die diesen Vertrag akzeptieren</h2>
<form name="main">
  <div class="no-print buttonRow">
    <button (click)="addCustomer()">Weitere Person hinzufügen</button>
    <button class="secondary" (click)="removeCustomer()">Letzte Person löschen</button>
  </div>

  <div *ngFor="let e of customers; let  cnt = index" class="model-card">
    <h3>{{cnt + 1}}. Person</h3>
    <app-customer [customerId]="cnt"></app-customer>
  </div>
</form>

<p class="no-print buttons center">
  <input type="checkbox" id="digitalSignatur" name="digitalSignatur" [(ngModel)]="isDigitaleSignatur">
  <label for="digitalSignatur">Unterschrift Fotograf mit digitaler Signatur</label>
</p>

<app-signatur *ngIf="!isDigitaleSignatur"></app-signatur>
<div class="buttons no-print">
  <button class="xl" type="submit" (click)="printPage()">
    Drucken
  </button>
</div>
<div *ngIf="isDigitaleSignatur" class="no-screen">
  <div class="digitalSignaturbox">
    <p>Der Vertrag wird vom Fotograf hier digital signiert!</p>
  </div>
</div>

