button, .button {
  position: relative;

  display: block;
  padding: 8px 20px 8px 20px;
  margin: 30px auto;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px #333333;
  transition: background-color .3s;
  background-color: white;
  color: black;

  &:hover, &:focus {
    background-color: #f0f0f0;
  }

  &.secondary {
    background-color: black;
    color: white;

    &:hover, &:focus {
      background-color: #484848;
    }
  }

  & > * {
    position: relative;
  }

  span {
    display: block;
    padding: 12px 24px;
  }

  &.xl {
    padding: 10px 40px 10px 40px;
  }

  &:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
  }
}
