/* You can add global styles to this file, and also import other style files */
@import "materialButtons";


p {
  margin-bottom: 4px;
}

@media print {
  .no-print {
    display: none !important;
  }

  .no-seperation {
    page-break-inside: avoid;
  }
}

.info {
  background: lightcyan;
  border: cornflowerblue dashed 2px;
  padding: 8px;
}

p, textarea, input {
  font-family: Calibri, sans-serif;
}

.signatur, input, textarea {
  border: black solid 1px;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
