/* You can add global styles to this file, and also import other style files */
@import "materialButtons";

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 4px;
  margin-bottom: 0;
}

h4 {
  margin-top: 2px;
  margin-bottom: 0;
}

@media print {
  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 1cm;
  }

  .content {
    p {
      page-break-inside: avoid;
      word-wrap: break-word;
    }
  }

  .no-seperation {
    page-break-inside: avoid;

    p {
      word-wrap: break-word;
    }
  }
}

@media not print {
  .no-screen {
    display: none !important;
  }
}

.info {
  background: lightcyan;
  border: cornflowerblue dashed 2px;
  padding: 8px;
}

body {
  font-family: Calibri, sans-serif;
}

.signatur, input, textarea, select {
  @extend body;
  border: black solid 1px;
  margin: 2px;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

span {
  white-space: nowrap;
  $spacing: 6px;
  margin-top: $spacing;
  margin-bottom: $spacing;

  input, .signatur {
    margin-right: 8px;
    margin-left: 2px;
  }

  label {
    margin-left: 2px;
    margin-bottom: 2px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
