/* You can add global styles to this file, and also import other style files */
@import "materialButtons";

p {
  margin-bottom: 4px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 4px;
  margin-bottom: 0;
}

@media print {
  .no-print {
    display: none !important;
  }

  .content {
    p {
      page-break-inside: avoid;
      word-wrap: break-word;
    }
  }

  .no-seperation {
    page-break-inside: avoid;

    p {
      word-wrap: break-word;
    }
  }
}

@media not print {
  .no-screen {
    display: none !important;
  }
}

.info {
  background: lightcyan;
  border: cornflowerblue dashed 2px;
  padding: 8px;
}

p, textarea, input {
  font-family: Calibri, sans-serif;
}

.signatur, input, textarea {
  border: black solid 1px;
}

.buttonRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

span {
  white-space: nowrap;
  $spacing: 6px;
  margin-top: $spacing;
  margin-bottom: $spacing;

  input, .signatur {
    margin-right: 8px;
    margin-left: 2px;
  }

  label {
    margin-left: 2px;
    margin-bottom: 2px;
  }
}
