<div class="center">
  <div class="outerFlex">
    <div class="modelImage">
      <label>Bild des Models: </label>
      <input class="no-print " #modelImgUpload (change)="onUploadedImageChanged()" name="image" type="file" required="">
      <img #modelImg class="modelImg" src="../../assets/placeholder.jpg"/>
    </div>
    <div class="modelDataInputFlex">
  <span>
     <label>Vorname: </label>
    <input [ngModel]="firstname" name="firstname" (ngModelChange)="firstnameChanged($event)" type="text" required="">
  </span>
      <span>
     <label>Nachname: </label>
    <input [ngModel]="lastname" name="lastname" (ngModelChange)="lastnameChanged($event)" type="text" required="">
  </span>
      <span>
  <label>Email: </label>
  <input [ngModel]="email" name="email" (ngModelChange)="emailChanged($event)" type="email" required>
    </span>
      <span>
    <label>Geburtsdatum:</label>
    <input name="birthday" [(ngModel)]="birthday" (ngModelChange)="birthdayChanged($event)" type="date" required="">
    </span>
      <div class="text-right">Alter (Unterschrift) {{birthday | age:nowString }}</div>
      <div class="text-right">Alter (Fotoshoot) {{birthday | age: shootingDate }}</div>
    </div>
  </div>
  <div class="signaturFlex">
    <label>Unterschrift am {{now | date : 'dd.MM.yyyy \'um\' HH:mm:ss'}}: </label>
    <div class="signaturContainer" (window:resize)="onSignaturResize()" #signaturDiv>
      <canvas class="signatur" #signatur></canvas>
    </div>
    <span class="no-print deleteSignature">
     <button (click)="resetSignature()">Unterschrift löschen</button>
   </span>
  </div>
</div>
