.center {
  display: flex;
  flex-direction: column;
  align-items: center;

  .outerFlex {
    display: flex;
    flex-direction: row;

    .modelImage {
      margin: 8px;
    }

    .modelFlex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: right;
      align-items: flex-end;

    }

    .modelImg {
      $imgSize: 200px;
      max-height: $imgSize;
      max-width: $imgSize;
    }


  }

  span {
    white-space: nowrap;
    $spacing: 6px;
    margin-top: $spacing;
    margin-bottom: $spacing;

    input, .signatur {
      margin-right: 8px;
      margin-left: 2px;
    }

    label {
      margin-left: 2px;
    }

    button {
      margin-left: 8px;
    }
  }


}

