.center {
  display: flex;
  flex-direction: column;
  align-items: center;

  .outerFlex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-width: 80%;
    justify-content: center;
    flex-wrap: wrap;

    .modelImage {
      margin: 8px;
      display: flex;
      flex-direction: column;

      input[name=image] {
        margin-bottom: 8px;
        margin-top: 4px;
      }

      .modelImg {
        $imgSize: 222px;
        max-height: $imgSize;
        max-width: $imgSize;
        margin: 0 auto;

        img {
          max-height: $imgSize;
          height: $imgSize;
          max-width: $imgSize;
        }
      }
    }

    .modelDataInputFlex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-end;

      .text-right {
        text-align: right;
        margin-right: 7px;
        margin-top: 4px;
      }
    }
  }

  .signaturFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .signaturContainer {
      width: 90%;
      min-width: 300px;
      max-width: 10cm;
      min-height: 100px;
      max-height: 4cm;
      margin: 0 auto;
    }

    .deleteSignature {
      align-self: center;

      button {
        $m: 8px;
        margin: $m;
      }
    }
  }
}
